{% extends 'base.html' %}
{% load static  %}

{% block body %}
    <div style="margin:10px 10px 0px 0px;overflow:auto;">
        <from class="layui-form">
            <!-- 提示：如果你不想用form，你可以换成div等任何一个普通元素 -->
            <input type="text" class="layui-hide" name="id" value="{{ version_list.0.id }}">
            {% csrf_token %}{# 随机码 #}
            <div class="layui-form-item">
                <label class="layui-form-label"><i style="color:red; font-weight:bold"> * </i>简&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;称：</label>
                <div class="layui-input-block">
                    <input type="text" id="short_name" name="short_name" placeholder="请输入简称" value="{{ version_list.0.short_name|safe }}"
                           class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label"><i style="color:red; font-weight:bolder"> * </i>开始日期：</label>
                <div class="layui-input-block">
                    <input type="date" id="start_date" name="start_date" value="{{ version_list.0.start_date|safe }}"
                           class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">结束日期：</label>
                <div class="layui-input-block">
                    <input type="date" id="end_date" name="end_date" value="{{ version_list.0.end_date|safe }}"
                           class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">备&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;注：</label>
                <div class="layui-input-block">
                    <textarea type="text" id="remark" name="remark" class="layui-input"></textarea>
                </div>
            </div>
            <div class="layui-form-item layui-hide">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit onclick="" id="save" lay-filter="save">保存</button>
                </div>
            </div>
        </from>
    </div>
{% endblock %}
{% block scripts %}
    <script>
        const table_id = 'gjol_version_table';

        layui.use(['layer', 'table', 'form', 'upload'], function (data) {
            let layer = layui.layer, table = layui.table, form = layui.form, upload = layui.upload;

            $("#remark").val("{{ version_list.0.remark }}");

            form.render();
            form.on('submit(save)', function (data) {
                form_on_submit_ajax('{{path}}', table_id, data);
            });
        });
    </script>
{% endblock %}