{% extends 'base.html' %}
{% load static  %}

{% block body %}
    <div style="margin:20px 20px 0px 0px; overflow:auto;">
        <from class="layui-form">
            <input type="text" class="layui-hide" name="id" value="{{ goods_info.0.id }}">
            {% csrf_token %}{# 随机码 #}
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label"><i style="color:red; font-weight:bold"> * </i>名&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;称：</label>
                    <div class="layui-input-block">
                        <input type="text" id="name" name="name" value="{{ goods_info.0.name|safe }}"
                               class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label"><i style="color:red; font-weight:bolder"> * </i>类&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;型：</label>
                    <div class="layui-input-block">
                        <select id="type_id" name="type_id" lay-search>
                            {% for type in type_list %}
                            <option value="{{type.id}}">{{type.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">排&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;序：</label>
                    <div class="layui-input-block">
                        <input type="text" id="sort" name="sort"  value="{{ goods_info.0.sort|safe }}"
                         class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">加&nbsp;工&nbsp;&nbsp;费：</label>
                    <div class="layui-input-block">
                        <input type="text" id="fee" name="fee"  value="{{ goods_info.0.fee|safe }}"
                         class="layui-input">
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label"><i style="color:red; font-weight:bolder"> * </i>版&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;本：</label>
                    <div class="layui-input-block">
                        <select id="version_id" name="version_id" lay-search>
                            {% for version in version_list %}
                            <option value="{{version.id}}">{{version.short_name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">描&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;述：</label>
                <div class="layui-input-block">
                    <textarea type="text" id="description" name="description" class="layui-input" style="width:564px;"></textarea>
                </div>
            </div>
            <div class="layui-form-item layui-hide">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit onclick="" id="save" lay-filter="save">保存</button>
                </div>
            </div>
        </from>
    </div>
{% endblock %}
{% block scripts %}
    <script>
        const table_id = 'gjol_goods_table';

        layui.use(['layer', 'table', 'form', 'upload'], function (data) {
            let layer = layui.layer, table = layui.table, form = layui.form, upload = layui.upload;

            $("#priority").val("{{ goods_info.0.priority }}");
            $("#version_id").val("{{ goods_info.0.version_id }}");
            $("#type_id").val("{{ goods_info.0.type_id }}");
            $("#description").val("{{ goods_info.0.description }}");

            form.render();
            layui.form.on('submit(save)', function (data) {
                let fee = data.field.fee;
                if(fee.length === 0){
                    data.field.fee = 0.00;
                }
                let sort = data.field.sort;
                if(sort.length === 0){
                    data.field.sort = 99;
                }
                form_on_submit_ajax('{{path}}', table_id, data);
            });
        });
    </script>
{% endblock %}