{% extends 'base.html' %}
{% load static  %}

{% block body %}
    <div style="margin:10px 20px 0px 10px;height: 400px;overflow:auto;">
        <from class="layui-form">
            <!-- 提示：如果你不想用form，你可以换成div等任何一个普通元素 -->
            {% csrf_token %}{# 随机码 #}
            <!-- 用户名称 -->
            <div class="layui-form-item">
                <label class="layui-form-label">用户名称 </label>
                <div class="layui-input-block">
                    <input type="text" name="user_full_name" disabled="disabled"
                           placeholder="请输入名称" value="{{ user_list_name.0.user_full_name }}"
                           class="layui-input">
                </div>
            </div>
            <!-- 用户id -->
            <input type="text" class="layui-hide" name="user_list_id" value="{{ user_list_id }}"> <!--列表页面的user_id-->
            <!-- 新密码 -->
            <div class="layui-form-item">
                <label class="layui-form-label">新密码 <i style="color:red">*</i></label>
                <div class="layui-input-block">
                    <input id="user_password" type="password" name="user_password" lay-verify="required|user_password"
                           placeholder="请输入密码"
                           value=""
                           class="layui-input">
                </div>
            </div>
            <!-- 更新人 -->
            <div class="layui-form-item layui-hide">
                <label class="layui-form-label">更新人</label>
                <div class="layui-input-block">
                    <input type="text" name="updateby" lay-verify="required" placeholder="" value="{{ login_user }}"
                           class="layui-input">
                </div>
            </div>

            <div class="layui-form-item layui-hide">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit onclick="" id="commit" lay-filter="*">立即提交</button>
                </div>
            </div>
        </from>
    </div>


{% endblock %}
{% block scripts %}

    <script>
        //layui
        layui.use(['layer', 'form', 'upload'], function (data) {
            var layer = layui.layer;
            var form = layui.form;
            var upload = layui.upload;
            var $ = layui.jquery;
            form.render();//表单渲染
            //表单验证
            form.verify({
                user_password: [
                    /^[\S]{6,12}$/
                    , '密码必须6到12位，且不能出现空格'
                ]
            });
            //表单提交
            form.on('submit(*)', function (data) {
                //渲染浏览记录
                $.ajax({
                    type: "POST",
                    url: "{{ ff_path }}",
                    data: data.field,
                    dataType: "json",
                    success: function (data) {
                        var info = '';
                        if (data.type === 'my') {
                            info = '密码修改成功，下次登录生效'
                        } else {
                            info = '密码修改成功'
                        }
                        var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                        parent.layer.close(index); //再执行关闭
                        parent.layui.table.reload('user_list');
                        parent.layer.msg(
                            info
                            , {
                                time: 3000, //3秒自动关闭
                                end: function () {
                                    parent.layui.table.reload('user_list');
                                }
                            });
                    }, error: function (data) {

                    }
                });
                return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
            });


        });

    </script>
{% endblock %}